<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ttmConnectionString" connectionString="Data Source=DESKTOP-LCJ9FM8;Initial Catalog=ttm;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
    <add key="con" value="server=DESKTOP-LCJ9FM8; initial catalog=ttm; integrated security=true"></add>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>